<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="" method="post">
    <p>add graduation</p>
    <p>graduation status</p>
    <input type="radio" name="purusing" id="purusing">
    <label for="purusing">purusing</label>
    <input type="radio" name="completed" id="completed">
    <label for="completed">Completed</label><br><br>
    <label for="college">College</label>
    <input type="text" name="college" id="college"><br><br>
    <label for="startyear">Start Year</label>
    <input type="text" name="startyear" id="startyear"><br><br>
    <label for="endyear">End Year</label>
    <input type="text" name="endyear" id="endyear"><br><br>
    <label for="degree">Degree</label>
    <input type="text" name="degree" id="degree"><br><br>
    <label for="stream">Stream</label>
    <input type="text" name="stream" id="stream"><br><br>
    <label for="scale">Scale</label>
    <input type="text" name="scale" id="scale"><br><br>
    <label for="performance">Performance</label>
    <input type="text" name="performance" id="performance"><br><br>
    <h4>Job Details</h4><br><br>
    <label for="profile">Profile</label>
    <input type="text" name="profile" id="profile"><br><br>
    <label for="organization">Organization</label>
    <input type="text" name="organization" id="organization"><br><br>
    <label for="location">Location</label>
    <input type="text" name="location" id="location"><br><br>
    <input type="checkbox" name="workfromhome" id="workfromhome">
    <label for="workfromhome">Is work from home</label><br><br>
    <label for="startdate">Start Date</label>
    <input type="date" name="startdate" id="startdate"><br><br>
    <label for="enddate">End Date</label>
    <input type="date" name="enddate" id="enddate"><br><br>
    <input type="checkbox" name="currentlyworking" id="currentlyworking">
    <label for="currentlyworking">Currently working here</label><br><br>
    <label for="description">Description</label>
    <input type="text" name="description" id="description"><br><br>
        <h4>Internshipp details</h4>
        <label for="profile">Profile</label>
        <input type="text" name="profile" id="profile"><br><br>
        <label for="organization">Organization</label>
        <input type="text" name="organization" id="organization"><br><br>
        <label for="location">Location</label>
        <input type="text" name="location" id="location"><br><br>
        <input type="checkbox" name="workfromhome" id="workfromhome">
        <label for="workfromhome">Is work from home</label><br><br>
        <label for="startdate">Start Date</label>
        <input type="date" name="startdate" id="startdate"><br><br>
        <label for="enddate">End Date</label>
        <input type="date" name="enddate" id="enddate"><br><br>
        <input type="checkbox" name="currentlyworking" id="currentlyworking">
        <label for="currentlyworking">Currently working here</label><br><br>
        <label for="description">Description</label>
        <input type="text" name="description" id="description"><br><br>

    </form>


</body>
</html>