<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        <p>JOBS</p>
        <label for="profile">profile</label>
        <input type="text" id="profile" name="profile"><br><br>
        <label for="organization">organization</label>
        <input type="text" id="organization" name="organization"><br><br>
        <label for="location">location</label>
        <input type="text" id="location" name="location"><br><br>
        <input type="checkbox" name="wfh" id="wfh">
        <label for="wfh">Work from home</label>
        <label for="startdate">Start Date</label>
        <input type="date" name="startdate" id="startdate"><br><br>
        <label for="enddate">End Date</label>
        <input type="date" name="enddate" id="enddate"><br><br>
        <input type="checkbox" name="currentworking" id="currentworking">
        <label for="currentworking">Currently working here</label><br><br>
        <p>Description</p>
        <p>Mention key job responsibilities, measurable impact or results you helped deliver, any awards/recognition you won during this time
            Use action verbs: Built, Led, Drove, Conceptualized, Learnt, etc.
            Use numbers and percentages wherever possible
            Keep it to 3-4 points</p>
        <input type="text" name="description" id="description"><br><br>
        <button type="submit">SAVE</button>

        <h1>internship</h1>
        <label for="profile">profile</label>
        <input type="text" id="profile" name="profile"><br><br>
        <label for="organization">organization</label>
        <input type="text" id="organization" name="organization"><br><br>
        <label for="location">location</label>
        <input type="text" id="location" name="location"><br><br>
        <input type="checkbox" name="wfh" id="wfh">
        <label for="wfh">Work from home</label>
        <label for="startdate">Start Date</label>
        <input type="date" name="startdate" id="startdate"><br><br>
        <label for="enddate">End Date</label>
        <input type="date" name="enddate" id="enddate"><br><br>
        <input type="checkbox" name="currentworking" id="currentworking">
        <label for="currentworking">Currently working here</label><br><br>
        <p>Description</p>
        <p>Mention key job responsibilities, measurable impact or results you helped deliver, any awards/recognition you won during this time
            Use action verbs: Built, Led, Drove, Conceptualized, Learnt, etc.
            Use numbers and percentages wherever possible
            Keep it to 3-4 points</p>
        <input type="text" name="description" id="description"><br><br>
        <button type="submit">SAVE</button>
            <h1>position of responsibilty</h1>
            <label for="description">Description</label>
            <input type="text" id="description" name="description"><br><br>
            <button type="submit">SAVE</button>
            <h1>training programme</h1>
            <label for="profile">profile</label>
        <input type="text" id="profile" name="profile"><br><br>
        <label for="organization">organization</label>
        <input type="text" id="organization" name="organization"><br><br>
        <label for="location">location</label>
        <input type="text" id="location" name="location"><br><br>
        <input type="checkbox" name="wfh" id="wfh">
        <label for="wfh">Work from home</label>
        <label for="startdate">Start Date</label>
        <input type="date" name="startdate" id="startdate"><br><br>
        <label for="enddate">End Date</label>
        <input type="date" name="enddate" id="enddate"><br><br>
        <input type="checkbox" name="currentworking" id="currentworking">
        <label for="currentworking">Currently working here</label><br><br>
        <p>Description</p>
        <p>Mention key job responsibilities, measurable impact or results you helped deliver, any awards/recognition you won during this time
            Use action verbs: Built, Led, Drove, Conceptualized, Learnt, etc.
            Use numbers and percentages wherever possible
            Keep it to 3-4 points</p>
        <input type="text" name="description" id="description"><br><br>
        <button type="submit">SAVE</button>
        <h1>project details</h1>
        <label for="title">Title</label>
        <input type="text" id="title" name="title"><br><br>
        <label for="startdate">Start Date</label>
        <input type="date" name="startdate" id="startdate"><br><br>
        <label for="enddate">End Date</label>
        <input type="date" name="enddate" id="enddate"><br><br>
        <input type="checkbox" name="currentworking" id="currentworking">
        <label for="currentworking">Currently working here</label><br><br>
        <p>Description</p>
        <input type="text" name="description" id="description"><br><br>
        <label for="projectlink">Project Link</label>
        <input type="link" id="projectlink" name="projectlink"><br><br>
        <button type="submit">SAVE</button>


    </form>
</body>
</html>