<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        <label for="blog">Blog Link</label>
        <input type="link" name="blog" id="blog"><br><br>
        <label for="github">GitHub Link</label>
        <input type="link" name="github" id="github"><br><br>
        <label for="playstore">Play Store Developer a/c</label>
        <input type="link" name="playstore" id="playstore"><br><br>
        <label for="behance">Behance portfolio Link</label>
        <input type="link" name="behance" id="behance"><br><br>
        <label for="sample">Other Work Sample Link</label>
        <input type="link" name="sample" id="sample"><br><br>
        <h1>Additional</h1>
    </form>
</body>
</html>